VITE_GOOGLE_SHEET_URL=
VITE_GOOGLE_SHEET_MEMBERS_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vS8JtGTI2WBFEPHbK4Mh67pNbKqPwOxBluHGKT6wKLtavp36x-phQ-_3VOAiOVjCMyGxWn61cUv7DS7/pub?output=csv
VITE_GOOGLE_SHEET_DONORS_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vR1QpxWrFjgNNVMbJi5j4Cq2Z-xBWBi8Osco35wWEj3LtbqgGNsPlxn7wuaF1vS_y-p7N7yrxKO-8ls/pub?output=csv
VITE_GOOGLE_SHEET_ISSUES_URL=
VITE_GOOGLE_SHEET_SHOP_URL=
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyt-HKZBQZ3WWQ5tJ-S5GmVY-wyi2OPRNPHyXFGjMuux5SrhN1ywTX_SlR8yocdC3Z-jQ/exec

# Gmail SMTP Authentication Config
GMAIL_USER=eco24034@mbstu.ac.bd
GMAIL_APP_PASSWORD=
